// color palette
// https://www.canva.com/colors/color-palettes/middle-eastern-empire/
$dark-blue: #1E2640;
$rose-red: #922C40;
$desert-sun: #DC9750;
$champagne: #F3EAC0;

$color-text: #f0f0f0;
$color-background: #0f0f0f;

$border-radius: 1rem;

* {
    box-sizing: border-box;

    &::selection {
        background-color: rgba($desert-sun, 0.25);
    }
}

html {
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: underline;
}
